<div class="row mt-5">
    <div class="col-6">
        <app-payment-detail-form/>
    </div>
    <div class="col-5">
        <ul class="list-group"*ngFor="let pd of service.list">
            <li class="list-group-item">
                <strong>Card Owner Name :</strong>
                {{pd.cardOwnerName}}
                <strong>Card Number:</strong>
                {{pd.cardNumber}}
                <strong>Expiration Date:</strong>
                {{pd.expirationDate}}
                <a href="#">
                    <span>
                    <i class="fa-solid fa-trash-can"></i>
                    </span>
                </a>
                
            </li>
        </ul>
    </div>

</div>